
  <div class="flex flex-row p-3">
    <a href="index.html"><img src="{{'images/logo.svg' | asset_url }}" alt="Logo"></a>

</div>
    <div class="pt-60 pb-72" >

    <div class="max-w-md mx-auto overflow-hidden bg-white shadow-md rounded-xl md:max-w-2xl">
        <div class="md:flex">
          <div class="md:flex-shrink-0">
            <img class="object-cover w-full h-48 md:w-48" src="{{'images/thanks.jpeg' | asset_url }}" alt="thank you">
          </div>
          <div class="p-8">
            <div class="justify-center pt-10 pl-20 text-4xl font-bold text-black uppercase">Thank You</div>
            </div>
        </div>
      </div>

</div>

<footer class="py-3 px-1.5 border-t border-gray ">
  <div class="flex">
      <div class="flex flex-none">
          <p>Follow us</p>
          <div class="flex">
              <a href="https://www.facebook.com/SalonEverywhere">
              <span class="rounded-full px-2 ml-2 bg-gray-200" >
                  <i class="fa fa-facebook" aria-hidden="true"></i>
              </span></a>

              <a href="https://twitter.com/SalonEverywhere">
              <span class="rounded-full px-1.5 ml-2 bg-gray-200">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
              </span></a>

              <a href="https://www.linkedin.com/company/saloneverywhere">
              <span class="rounded-full px-1.5 ml-2 bg-gray-200">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              </span></a>

              <a href="https://www.instagram.com/saloneverywhere">
              <span class="rounded-full px-1.5 ml-2 bg-gray-200">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </span></a>

              <a href="https://www.pinterest.ca/saloneverywhere/">
              <span class="rounded-full px-1.5 ml-2 bg-gray-200">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </span></a>

              <a href="https://www.youtube.com/channel/UCyP3VGWG4ilnDFAWI7UI5hg">
                                      <span class="rounded-full px-1.5 ml-2 bg-gray-200">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </span></a>
          </div>
          
      </div>
      <div class="flex-grow text-gray"></div>
          <div class="flex-none">
             <p class="text-xs text-gray">    <i class="fa fa-copyright" aria-hidden="true"></i> 2020 SalonEverywhere.All rights reserved</p>

             <div class="flex-1 ...">
              <a href="/help/privacy-policy" class="text-sm text-black justify-right pl-36">Privacy Policy </a>

            </div>
          </div>

  </div>
  <div>
      <a href="tel:+16473707404" class="text-sm hover:bg-red">Call us or text us at <span class="font-bold text-sm hover:bg-red">  +1 (647) 370-7404</span></a>
  </div>
<div class="pb-2">           
    <a href="mailto:hello@saloneverywhere.com " class="text-sm hover:bg-red ">or email <span class="font-bold text-sm hover:bg-red">   hello@saloneverywhere.com </span></a>
</div>
</footer>